.slick-prev, .slick-next {
  width: 60px !important; /* Increased width changes position of image*/
  height: 60px !important; /* Increased height */
  background-color: rgb(0, 0, 0); /* Semi-transparent background */
  
}

.slick-prev {
  left: -60px !important; /* Adjust to position arrow outside the left edge */
}

.slick-next {
  right: -90px !important; /* Adjust to position arrow outside the right edge */
}




.ant-carousel .slick-dots {
  bottom: 10px;
  color: #adabab;
}

.ant-carousel .slick-dots li {
  margin: 0 4px;
}

.ant-carousel .slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #adabab;
  border: none;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: #9b9b9b;
}

.slick-dots {
  bottom: -30px !important; /* Adjust to position arrow outside the left edge */
}

/* Hero.css */
.carousel-container {
width: 350px;
position: absolute;
}


.carousel-item {
  position: relative;
  overflow: hidden;
}

.carousel-content {
width: 100%;
height: auto;

}



.layout{
position: absolute;
margin-left: 40%;

}
.ant-typography{
overflow: hidden;
white-space: wrap;
background-color: rgb(245, 245, 245);
width: 500px;
color: #0000ff !important;

}
.title-text{
width: 500px;
text-align: center; 
font-size: 20px;
font-weight: 800;
margin-bottom: 30%;
}
.title-cont{
margin-left: -80px !important;
}

@media (max-width: 950px) {

  .carousel-container {
    width: 240px;
    margin-left: -35px !important;
  }

    .slick-prev {
      left: -50px !important; /* Adjust to position arrow outside the left edge */
    }
    
    .slick-next {
      right: -80px !important; /* Adjust to position arrow outside the right edge */
    }
    
    .title-text,.ant-typography{
      width: 350px !important;
    }
}

@media (max-width: 1090px) {
.title-text,.ant-typography{
  width: 350px !important;
}
.carousel-container {
  margin-left: -80px;
}

}
  @media (max-width: 500px) {
    .title-text,.ant-typography{
    font-size: 15px !important;
    width: 250px !important;
    }
    .carousel-container {
      width: 200px;
      margin-left: -35px !important;
    }

    .slick-prev {
      left: -20px !important;
      width: 30px !important; /* Adjust to position arrow outside the left edge */
    }
    
    .slick-next {
      right: -35px !important; /* Adjust to position arrow outside the right edge */
      width: 30px !important;
    }
    .layout{
      margin-left: 35%;
      
      }
    
  }